
:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

}

.attribution {
    font-size: 11px; 
    text-align: center; 
    color:hsl(0, 0%, 100%);
    padding-top: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;

}
.attribution a {
     color: hsl(277, 64%, 61%); 

}


html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: var(--card-background);
    color: var(--main-heading-stats);
    text-align: left;
    margin: 0 auto;
    padding: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    
    
    
}

.card{
    padding:20px;
    margin: 0 auto;
    
}
.card-title{
    font-family: "Lexend Deca";
    width: 25rem;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.6px;
}

.card-title span{
    font-family: "Inter";
    color: var(--accent);
}

.card-text p{
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.6px;
    color: var(--main-paragraph);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;


}


.stats-card{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    
}

.stats{
    margin: 20px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    padding-top: 15px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: var(--stat-headings);
    

}
.stats-numbers span{
    font-family: "Lexend Deca";
    color: var(--main-heading-stats);
    font-weight: bold;
    font-size: 20px;
    
}

.stats-text{
    color: var(--stat-headings);
    line-height: 2.4rem;
}

.card-picture{
    width: 500px;
    height: 400px;
    border-radius: 0 15px 15px 0;
    background-image: url(./images/image-header-desktop.jpg);
    opacity: 0.8;
    object-fit: cover;

  
}

.overlay{
    background-color: hsla(277, 64%, 61%, 1);
    border-radius: 0 15px 15px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    mix-blend-mode:multiply;
    filter: contrast(0.9);

}

@media only screen and (max-width:375px) {
    .container{
        flex-direction: column-reverse;
        width: 70%;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: left;
      
    }


    .card-picture{
        display: block;
        width: 50%;
        border-radius: 0 15px 15px 0;
        background-image: url(./images/image-header-mobile.jpg);
        opacity: 0.8;
        object-fit: cover;
    
      
    }

    .overlay{
        background-color: hsla(277, 64%, 61%, 1);
        height: 400px;

    }
    

    
}